<form action="/admin" method="post">
    <input type="text" name="subject" id="" placeholder="subject">
    <input type="text" name="document" id="" placeholder="document">
    <button type="submit">Add</button>
</form>